*{
  margin: 0;
}

header{
  background-color: rgb(221, 201, 187);
  /* width: 375px; */
}
.header-form{
  display: flex;
  justify-content: center;
}
header h3{
  text-align: right;
  padding-right: 20px;
}

header h1{
  text-align: center;
}

.searchbox{
  border-radius: 5px;
  height: 30px;
}
.searchname{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border-radius: 5px;
  font-size: 30px;
}

/* .top-wrapper{
  position: relative;
}

.top-wrapper h1{
  position: absolute;
  left: 50px;
  top: 100px;
  color: white;
  font-weight: lighter; 
} */

/* .topimage{
  background-image: url("img/hamburger.png");
  width: 375px;
  height: 285px;
} */

.topimage{
  background-image: url("img/hamburger.png");
  width: 100%;
  height: auto;
  /* background-size: cover; */
  background-position: center;
}

.middle-wrapper  .p-head{
  background-color: white;
  opacity: 0.5;
}
.middle-wrapper  .p-foot{
  background-color: white;
  opacity: 0.5;
}

.takeoutimage{
  background-image: url("img/takeout.png");
}

